body
{
    width: 100%;
    margin:auto;
    background-color: black !important;
}

div
{
    background-color: white;
}

#search-button
{
    margin: 0.25%;
}

#search-input
{
    width: 95%;
    
    font-size: 200%;
}

#search-div
{
    float: top;
    width: 70%;
    margin-top:1%;
    margin-left: 26%;

    border-style: solid;

}

#label-div
{
    float:left;
    width: 20%;
    padding-bottom: 90%;
    margin: 2%;

    border-style: solid;
}

#display-div
{
    float:left;
    width: 70%;
    padding-bottom: 90%;
    margin: 2%;

    border-style: solid;

}