header{
    border:2px solid grey ;
    text-align: center;
    border-radius: 60px;
}

body{
    background-color:lightgrey;
}
#menu ul li{
    color:black;
    display: inline-block;
    border: 2px solid grey;
    width:100px;
    height: 20px;
    float:right;
    border-radius:60px;
    
}
#menu ul li:hover{
    background-color: grey;
    
}




#graphe{
    margin-top: 50px;
    border:2px solid grey;
    border-radius: 60px;
    min-height: 700px;
    width:1200px;
   float:right; 
   background-color: white;
}

#control_panel{
    margin-top:50px;
    border:2px solid grey;
    border-radius:60px;
    height:700px;
    width:150px;
    float: left;
    text-align: center;
    
}
#interface{
    position: absolute;
    left: 35%;
    top:40%;
    
}
#interface input{
    border-radius: 60px;
    width:300px;
    height:100px;
    background-color: white;
    font-size: 120%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}
#interface input:hover{
    
    background-color: grey;
    font-size:140%;
}

#inscription{
    border:2px solid grey;
    border-radius: 60px;
    height:500px;
    width:500px;
    position: absolute;
    left: 35%;
    top: 30%;
}
#inscription label{
    
    display:inline-block;
    width:130px;
}
#form{
    
    padding-top: 150px;
    padding-left: 100px;
}

d3-tip {
    line-height: 1;
    color: black;
    border:1px solid grey;
    border-radius:60px;
    min-height: 40px;
    min-width: 120px;
    
}